body {
  background-color: antiquewhite;
  padding: 15px
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1, h2, h3, h4 {
  text-align: center;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2, h3 {
  color:lightslategrey
}
h4 {
  color: #5e5463
}
.links{
  list-style-type: none;
}